# ignore .DS_Store from all folders
.DS_Store

# ignore nodemon.json only in Online-Bookstore-Project/Source-code
Source-code/nodemon.json

# ignore resources/html in Online-Bookstore-Project/Source-code
Source-code/resources/html

# ignore config/database in Online-Bookstore-Project/Source-code
Source-code/config/database