<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Create a Free Account - RollPoll.com</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Icon/Ico.png">
    <script src="https://kit.fontawesome.com/d8ded057c6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="header__container">
            <div class="header__container-text">
                <span>Already have an account?</span>
                <a href="/login" class="header__container-button">
                    <h3>
                        Log in
                    </h3>
                </a>
            </div>
        </div>
        <div class="caption__container">
            <div class="caption__container-logo">
                <div class="caption__container-logo-content">
                    <img src="/img/Icon/Website-logo.svg" alt=""
                        class="caption__container-logo-content-img">
                </div>
                <h1 class="caption__container-create">Create a free account</h1>
                <p class="caption__container-subtitle">
                    Or
                    <a href="/login" class="caption__container-subtitle-link">
                        log in to your account
                    </a>
                </p>
            </div>
        </div>
        <div class="import__container">
            <div class="import__container-box">
                <div class="import__container-box-text">
                    <form action="" class="import__container-form">
                        <div class="import__container-form-input">
                            <label for="email" class="import__container-form-input-label">
                                <h4>
                                    Name
                                </h4>
                            </label>
                            <input id="name" name="name" type="text" autocomplete="name"
                                class="import__container-form-input-data" required>
                        </div>
                        <div class="import__container-form-input">
                            <label for="email" class="import__container-form-input-label">
                                <h4>
                                    Email
                                </h4>
                            </label>
                            <input name="email" type="email" id="email" autocomplete="email"
                                class="import__container-form-input-data" required>
                        </div>
                        <div class="import__container-form-input">
                            <label for="password" class="import__container-form-input-label">
                                <h4>
                                    Password
                                </h4>
                            </label>
                            <input id="password" name="password" type="password" autocomplete="current-password"
                                class="import__container-form-input-data" required>
                        </div>
                        <div class="import__container-form-input">
                            <div class="import__container-form-input-agree">
                                <input id="agree-me" name="agree-me" type="checkbox" x-model="agreeMe"
                                    class="import__container-form-input-checkbox">
                                <label for="agree-me" class="import__container-form-input-policy">
                                    <span>
                                        I agree to the
                                    </span>
                                    <a href="#" id="privacy" class="import__container-form-input-link">
                                        privacy policy
                                    </a>
                                    <span>
                                        and
                                    </span>
                                    <a href="#" id="term" class="import__container-form-input-link"> terms of
                                        service.</a>
                                </label>
                            </div>

                        </div>
                        <div class="import__container-form-input">
                            <button type="submit" class="import__container-form-input-button">
                                <h3>
                                    Sign up
                                </h3>
                            </button>
                        </div>
                    </form>
                    <div class="import__container-underline">
                        <div class="import__container-options">
                            <div class="import__container-continue">
                                <div class="import__container-slash"></div>
                            </div>
                            <div class="import__container-text">
                                <span>Or continue with</span>
                            </div>
                        </div>
                        <div class="import__container-media">
                            <div id="facebook" class="import__container-media-link">
                                <a href="" class="fa fa-facebook"></a>
                            </div>
                            <div id="google" class="import__container-media-link">
                                <a href="" class="fa fa-google"></a>
                            </div>
                            <div id="github" class="import__container-media-link">
                                <a href="" class="fa fa-github"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__container">
        <div class="footer__container-box">
            <a href="/" class="footer__container-link">Home</a>
            <span class="footer__container-dot">.</span>
            <a href="" class="footer__container-link">Contact</a>
            <span class="footer__container-dot">.</span>
            <a href="" class="footer__container-link">Term</a>
        </div>
    </div>
</body>

</html>