<footer class="footer">
    <div class="footer__content">
        <div class="footer__content-logo">
            <a href="/" class="footer__content-logo-link">
                <img src="/img/Icon/Website-logo-white-text.svg" alt="">
            </a>
        </div>
        <div class="footer__content-caption">
            Copyright © 2022
            <a href="/" style="color: var(--color-primary);">
                Bookory
            </a>
            . All rights reserved.
        </div>
    </div>
</footer>