<header>
    <nav class="header__nav">
        <div class="header__nav-logo">
            <a href="/" class="header__nav-logo-link">
                <img src="/img/Icon/Website-logo.svg" alt="" class="header__nav-logo-img">
            </a>
        </div>
        <div class="header__nav-menu" style="max-height: 100px;">
            <ul class="header__nav-menu-list">
                <li class="header__nav-menu-list-item">
                    <a href="/" id="home" class="header__nav-menu-link header__nav-menu-link-active">
                        <span class="header__nav-menu-link-text">
                            Home
                        </span>
                        <span class="header__nav-menu-link-dot"></span>
                    </a>
                </li>
                <li class="header__nav-menu-list-item">
                    <a href="/shop" id="shop" class="header__nav-menu-link">
                        <span class="header__nav-menu-link-text">
                            Shop
                        </span>
                        <span class="header__nav-menu-link-dot"></span>
                    </a>
                </li>
                <li class="header__nav-menu-list-item">
                    <a href="" class="header__nav-menu-link">
                        <span class="header__nav-menu-link-text">
                            Vendor
                        </span>
                        <span class="header__nav-menu-link-dot"></span>
                    </a>
                </li>
                <li class="header__nav-menu-list-item">
                    <a href="" class="header__nav-menu-link">
                        <span class="header__nav-menu-link-text">
                            Pages
                        </span>
                        <span class="header__nav-menu-link-dot"></span>
                    </a>
                </li>
                <li class="header__nav-menu-list-item">
                    <a href="" class="header__nav-menu-link">
                        <span class="header__nav-menu-link-text">
                            Contact
                        </span>
                        <span class="header__nav-menu-link-dot"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__nav-user">
            <ul class="header__nav-user-list">
                <li class="header__nav-user-list-item">
                    <a href="" class="header__nav-user-link">
                        <i class="fa-regular fa-user"></i>
                    </a>
                </li>
                <li class="header__nav-user-list-item">
                    <a href="/wishlist" class="header__nav-user-link">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </li>
                <li class="header__nav-user-list-item">
                    <a href="/cart" class="header__nav-user-link">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="header__search">
        <div class="header__search-content">
            <nav class="header__search-subnav">
                <div class="header__search-subnav-categories">
                    <span class="header__search-categories-text">
                        <i class="fa-solid fa-list"></i>
                        Categories
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="header__search-subnav-menu">
                    <ul class="header__search-subnav-menu-list">
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-solid fa-mountain-sun"></i>
                                <span class="header__search-subnav-menu-link-text">Actions&Adventure</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-solid fa-palette"></i>
                                <span class="header__search-subnav-menu-link-text">Arts & Photography</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-solid fa-dna"></i>
                                <span class="header__search-subnav-menu-link-text">Biographies</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-solid fa-pen-nib"></i>
                                <span class="header__search-subnav-menu-link-text">Classics</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-regular fa-flag"></i>
                                <span class="header__search-subnav-menu-link-text">Contemporary</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-solid fa-masks-theater"></i>
                                <span class="header__search-subnav-menu-link-text">Comedy & Humor</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-solid fa-book-bookmark"></i>
                                <span class="header__search-subnav-menu-link-text">Education & Reference</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-regular fa-circle-user"></i>
                                <span class="header__search-subnav-menu-link-text">Genre Fiction</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-solid fa-hourglass-start"></i>
                                <span class="header__search-subnav-menu-link-text">Historical</span>
                            </a>
                        </li>
                        <li class="header__search-subnav-menu-list-item">
                            <a href="" class="header__search-subnav-menu-link">
                                <i class="fa-solid fa-flask"></i>
                                <span class="header__search-subnav-menu-link-text">Science fiction & Fantasy</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header__search-bar">
                <form action="" class="header__search-bar-form">
                    <div class="header__search-find">
                        <input type="text" class="header__search-find-input" placeholder="Search products...">
                        <button class="header__search-find-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="header__search-location">
                <a href="#" class="header__search-location-link">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    <div class="header__search-location-text">
                        <p class="header__search-location-text-title">
                            Deliver to Nguyen
                        </p>
                        <h3 href="" class="header__search-location-text-place" rel="noopener noreferrer">
                            Vung Tau 780000
                        </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>