<header class="header">
    <nav class="header__nav">
        <div class="header__nav-logo">
            <a href="/story-sells" class="header__nav-logo-link">
                <img src="/img/Icon/Website-logo.svg" alt="" class="header__nav-logo-img">
            </a>
        </div>
        <div class="header__search-bar">
            <form action="" class="header__search-bar-form">
                <div class="header__search-find">
                    <input type="text" class="header__search-find-input" placeholder="Search products...">
                    <button class="header__search-find-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="header__nav-user">
            <ul class="header__nav-user-list">
                <li class="header__nav-user-list-item">
                    <a href="" class="header__nav-user-link">
                        <i class="fa-regular fa-user"></i>
                    </a>
                </li>
                <li class="header__nav-user-list-item">
                    <a href="/wishlist" class="header__nav-user-link">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </li>
                <li class="header__nav-user-list-item">
                    <a href="/cart" class="header__nav-user-link">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="header__search header__search-background-border">
        <div class="header__search-content" style="justify-content: center">
            <div class="header__nav-menu">
                <ul class="header__nav-menu-list">
                    <li class="header__nav-menu-list-item">
                        <a href="/story-sells" id="home" class="header__nav-menu-link header__nav-menu-link-padding-horizontal">
                            <span class="header__nav-menu-link-text">
                                Home
                            </span>
                            <span class="header__nav-menu-link-dot"></span>
                        </a>
                    </li>
                    <li class="header__nav-menu-list-item">
                        <a href="/story-sells/shop" id="shop"
                            class="header__nav-menu-link header__nav-menu-link-padding-horizontal <%= text === 'Shop' ? 'header__nav-menu-link-active' : '' %>">
                            <span class="header__nav-menu-link-text">
                                Shop
                            </span>
                            <span class="header__nav-menu-link-dot"></span>
                        </a>
                    </li>
                    <li class="header__nav-menu-list-item">
                        <a href="/story-sells/publisher" class="header__nav-menu-link header__nav-menu-link-padding-horizontal">
                            <span class="header__nav-menu-link-text">
                                Publisher
                            </span>
                            <span class="header__nav-menu-link-dot"></span>
                        </a>
                    </li>
                    <li class="header__nav-menu-list-item">
                        <a href="/story-sells/author" class="header__nav-menu-link header__nav-menu-link-padding-horizontal">
                            <span class="header__nav-menu-link-text">
                                Author
                            </span>
                            <span class="header__nav-menu-link-dot"></span>
                        </a>
                    </li>
                    <li class="header__nav-menu-list-item">
                        <a href="/story-sells/contact" class="header__nav-menu-link header__nav-menu-link-padding-horizontal">
                            <span class="header__nav-menu-link-text">
                                Contact
                            </span>
                            <span class="header__nav-menu-link-dot"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="header__shop" <% /* eslint-disable css-propertyvalueexpected */ %> style="display: <%= display%>;">
        <div class="header__shop-content">
            <div class="header__shop-content-title">
                <h1>
                    <%= text %>
                </h1>
            </div>
            <div class="header__shop-content-subnav">
                <a href="/" class="header__shop-content-subnav-home">Home</a>
                <i class="fa-solid fa-arrow-right"></i>
                <%= text %>
            </div>
        </div>
    </div>
</header>