<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Create a Free Account - StorySells.com</title>
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/authentication.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/icon/icon.png">
    <script src="https://kit.fontawesome.com/d8ded057c6.js" crossorigin="anonymous"></script>
</head>

<body>
<header class="header" style="justify-content: flex-start; margin-left: 80px;">
    <div class="header__container">
        <ul class="header__container-list">
            <li class="header-container-item">
                <a href="/story-sells/">
                    <i class="fa-solid fa-house-user fa-2x"></i>
                </a>
            </li>
            <li class="header-container-item">
                <a href="" class="header-container-item-link">
                    Help
                </a>
            </li>
            <li class="header-container-item">
                <a href="" class="header-container-item-link">
                    Contact us
                </a>
            </li>
            <li class="header-container-item">
                <a href="" class="header-container-item-link">
                    English
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
            </li>
            <li class="header-container-item">
                <a href="/user/login" class="header-container-item-link">
                    Sign in
                </a>
            </li>
        </ul>
    </div>
</header>

<div class="container" style="padding-top: 0;">
    <div class="image__container">
        <img src="/img/background/background-06.png" alt="" class="image__container-background">
        <img src="/img/icon/website-logo.svg" alt="" class="image__container-logo">
    </div>
    <div class="caption__container">
        <div class="caption__container-text">
            <h1 class="caption__container-title">
                Join us now!
            </h1>
            <p class="caption__container-subtitle">
                Already have an account?
                <a href="/user/login" class="caption__container-subtitle-link"> Sign in</a>
            </p>
        </div>
        <div class="import__container">
            <form id="login-form" action="/user/register" method="POST" class="import__container-form">
                <div class="import__container-form-input">
                    <label for="name" class="import__container-form-input-title">
                        Your name
                    </label>
                    <input id="name" name="name" type="name" autocomplete="name"
                           class="import__container-form-input-data" required autofocus>
                </div>
                <div class="import__container-form-input">
                    <label for="email" class="import__container-form-input-title">
                        Email
                    </label>
                    <input name="email" type="email" id="email" autocomplete="email"
                           class="import__container-form-input-data" required>
                </div>
                <div class="import__container-form-input">
                    <label for="password" class="import__container-form-input-title">
                        Password
                    </label>
                    <input id="password" name="password" type="password" autocomplete="password"
                           class="import__container-form-input-data" required>
                    <span id="password-toggle" class="password-toggle">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
                <div class="import__container-form-input" style="justify-content: space-between">
                    <div class="import__container-form-remember">
                        <input id="agree" name="agree" type="checkbox"
                               class="import__container-form-remember-input"
                               required>
                        <label for="agree" class="import__container-form-input-policy">
                            <span>
                                I agree to the
                            </span>
                            <a href="#" id="privacy" class="import__container-form-input-link">
                                privacy policy
                            </a>
                            <span>
                                and
                            </span>
                            <a href="#" id="term" class="import__container-form-input-link"> terms of service.</a>
                        </label>
                    </div>
                </div>
                <div class="import__container-form-input">
                    <button type="submit" class="import__container-form-input-button">
                        Sign up
                    </button>
                </div>
            </form>
            <div class="import__container-underline">
                <div class="import__container-options">
                    <div class="import__container-continue">
                        <div class="import__container-slash"></div>
                    </div>
                    <div class="import__container-text">
                        <span>Or continue with</span>
                    </div>
                </div>
                <div class="import__container-media">
                    <div id="facebook">
                        <a href="" class="import__container-media-link">
                            <img src="/img/icon/other-logos/Facebook.png" alt="">
                        </a>
                    </div>
                    <div id="google">
                        <a href="" class="import__container-media-link">
                            <img src="/img/icon/other-logos/Google.png" alt="">
                        </a>
                    </div>
                    <div id="apple">
                        <a href="" class="import__container-media-link">
                            <img src="/img/icon/other-logos/Apple.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let passwordInput = document.getElementById('password');
    let passwordToggle = document.getElementById('password-toggle');

    passwordToggle.addEventListener('click', function () {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text'
            passwordToggle.innerHTML = '<i class="fa fa-eye-slash"></i>';
        } else {
            passwordInput.type = 'password';
            passwordToggle.innerHTML = '<i class="fa fa-eye"></i>';
        }
    })
</script>
</body>
</html>