<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Create a Free Account - StorySells.com</title>
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/authentication.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Icon/Ico.png">
    <script src="https://kit.fontawesome.com/d8ded057c6.js" crossorigin="anonymous"></script>
</head>

<body>
<header class="header" style="justify-content: flex-start; margin-left: 80px;">
    <div class="header__container">
        <ul class="header__container-list">
            <li class="header-container-item">
                <a href="/story-sells/">
                    <i class="fa-solid fa-house-user fa-2x"></i>
                </a>
            </li>
            <li class="header-container-item">
                <a href="" class="header-container-item-link">
                    Help
                </a>
            </li>
            <li class="header-container-item">
                <a href="" class="header-container-item-link">
                    Contact us
                </a>
            </li>
            <li class="header-container-item">
                <a href="" class="header-container-item-link">
                    English
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
            </li>
            <li class="header-container-item">
                <a href="/user/login" class="header-container-item-link">
                    Sign in
                </a>
            </li>
        </ul>
    </div>
</header>

<div class="container">
    <div class="image__container">
        <img src="/img/background/background-06.png" alt="" class="image__container-background">
        <img src="/img/Icon/Website-logo.svg" alt="" class="image__container-logo">
    </div>
    <div class="caption__container">
        <div class="caption__container-text" style="display:flex ;align-items: center; flex-direction: column">
            <h1 class="caption__container-title"
                style="font-size: 32px; letter-spacing: 2px; padding-bottom: 46px; border-bottom: 1px solid var(--color-lighter)">
                Verify your email address
            </h1>
            <span class="caption__container-subtitle" style="font-size: 20px; text-align: center">
                We will send a verification code to
                <br>
                "<%= email %>"
            </span>
            <p class="caption__container-paragraph">
                Please check your inbox and enter the verification code below to verify your email address. The code
                will expire in
                <span id="count15Minutes"></span>
            </p>
        </div>
        <div class="import__container">
            <form id="login-form" action="/user/verify/<%= customerId %>" method="POST" class="import__container-form">
                <div class="import__container-form-input">
                    <label for="name" class="import__container-form-input-title">
                        Code:
                    </label>
                    <ul class="import__container-form-input-list">
                        <li class="container-form-input-item">
                            <input id="code1" name="verificationCode" type="number"
                                   class="import__container-form-input-data" required autofocus>
                        </li>
                        <li class="container-form-input-item">
                            <input id="code2" name="verificationCode" type="number"
                                   class="import__container-form-input-data" required>
                        </li>
                        <li class="container-form-input-item">
                            <input id="code3" name="verificationCode" type="number"
                                   class="import__container-form-input-data" required>
                        </li>
                        <li class="container-form-input-item">
                            <input id="code4" name="verificationCode" type="number"
                                   class="import__container-form-input-data" required>
                        </li>
                        <li class="container-form-input-item">
                            <input id="code5" name="verificationCode" type="number"
                                   class="import__container-form-input-data" required>
                        </li>
                        <li class="container-form-input-item">
                            <input id="code6" name="verificationCode" type="number"
                                   class="import__container-form-input-data" required>
                        </li>
                    </ul>
                </div>
                <div class="import__container-form-input">
                    <button type="submit" class="import__container-form-input-button" style="border-radius: 5px">
                        Verify
                    </button>
                </div>
                <div class="import__container-form-option">
                    <form action="">
                        <button type="submit" id="resend" class="import__container-form-option-button">
                            <div>Resend code</div>
                            <span id="count2Minutes"></span>
                        </button>
                        <a href="/user/register"
                           class="import__container-form-option-button import__container-form-option-button-hover">
                            Come back
                        </a>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    const codeInputs = document.querySelectorAll('.import__container-form-input-list input');

    for (let i = 0; i < codeInputs.length; i++) {
        codeInputs[i].addEventListener('input', function () {
            if (codeInputs[i].value.length === 1) {
                if (i < codeInputs.length - 1) {
                    codeInputs[i + 1].focus();
                } else {
                    codeInputs[i].blur();
                }
            }
        });
    }

    const pasteCode = (code) => {
        for (let i = 0; i < codeInputs.length; i++) {
            if (i < code.length) {
                codeInputs[i].value = code[i];
            } else {
                codeInputs[i].value = '';
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const codeInputsContainer = document.querySelector('.import__container-form-input-list');
        codeInputsContainer.addEventListener('paste', function (e) {
            e.preventDefault();
            const clipboardData = e.clipboardData || window.clipboardData;
            const pastedData = clipboardData.getData('text/plain');
            const formattedCode = pastedData.replace(/\D/g, '');
            if (formattedCode.length === 6) {
                pasteCode(formattedCode);
            }
        });
    });
</script>

<script>
    let timerOn = true;
    const resendButton = document.getElementById("resend");
    const count2Minutes = document.getElementById('count2Minutes');
    const count15Minutes = document.getElementById('count15Minutes');

    resendButton.disabled = true;
    resendButton.style.opacity = "0.7";
    resendButton.style.cursor = "auto";

    function timer(remaining) {
        if (remaining >= 0 && timerOn) {
            const minutes = Math.floor(remaining / 60);
            const seconds = remaining % 60;
            count2Minutes.innerHTML = `( ${minutes < 10 ? '0' + minutes : minutes}:${seconds < 10 ? '0' + seconds : seconds} )`;
            remaining -= 1;
            setTimeout(() => timer(remaining), 1000);
        } else if (!timerOn) {
            count2Minutes.innerHTML = "";
        } else {
            count2Minutes.innerHTML = "";
            resendButton.disabled = false;
            resendButton.style.cssText = "opacity: 1; cursor: pointer;";
            resendButton.classList.add("import__container-form-option-button-hover");
        }
    }

    timer(120);
</script>

</html>