/* Reset margin and padding on all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
}

/* Define color constants using CSS custom properties */
:root {
    --color-bg: #FBFCFF;
    --color-text: #777D74;
    --color-dark: #3F414D;
    --color-info: #D592FF;
    --color-light: #FAFAFB;
    --color-border: #EDEDF0;
    --color-danger: #FF9B8A;
    --color-warning: #FFBA68;
    --color-success: #48F0D3;
    --color-primary: #0AD6B8;
    --color-secondary: #A09E9E;
}

:root{
    --color-light-dark: #F0EFEF;
    --color-light-info: #EFE6F5;
    --color-light-danger: #FFF5F4;
    --color-light-warning: #FEFCF3;
    --color-light-success: #EEFFF2;
    --color-light-primary: #FBFCFF;
    --color-light-secondary: #F1F2F1;
}

/* Reset box-sizing to border-box for all elements */
* {
    box-sizing: border-box;
}

/* Reset font size and line height on body */
body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
}

/* Reset list styles */
ul,
ol {
    list-style: none;
}

/* Reset anchor styles */
a {
    text-decoration: none;
    color: inherit;
}

i {
    width: 18px;
    height: 16px;
    font-size: inherit;
    line-height: 16px;
    margin-right: 12px;
}

.display-flex{
    display: flex;
    align-items: center;
}

.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    position: fixed;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
}

.sidebar__header {
    width: 100%;
    height: 69px;
    letter-spacing: 1.5px;
    padding: 15px 0 0 20px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
    justify-content: space-between;
}

.sidebar__header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__header-logo>i {
    width: 36px;
    height: auto;
    font-size: 36px;
}

.sidebar__header-title {
    font-size: 18px;
    font-weight: 800;
    padding: 5px 0 10px 0;
    text-transform: uppercase;
}

.sidebar__header-link>i {
    width: 24px;
    height: auto;
    font-size: 24px;
}

.sidebar__menu {
    display: block;
    margin-top: 15px;
    position: relative;
    color: var(--color-text);
}

.active .sidebar__menu-link {
    color: var(--color-primary);
    background-color: var(--color-light);
}

.sidebar__menu-link {
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
    line-height: 18px;
    padding: 15px 20px;
}

.sidebar__menu-link:hover {
    color: var(--color-primary);
}

#homepage .sidebar__menu-item__list-link, .sidebar__menu-item__list-link:hover {
    color: var(--color-primary);
}

.sidebar__menu-item__list-link {
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    line-height: 18px;
    padding: 15px 20px 15px 40px;
}

.sidebar__member {
    padding: 16px;
    margin-bottom: 40px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.sidebar__member-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar__member--button {
    font-size: 14px;
    cursor: pointer;
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--color-light);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.sidebar__member--button:hover {
    opacity: 0.7;
}

.header{
    top: 0;
    right: 0;
    left: auto;
    z-index: 99;
    position: fixed;
    display: inline-block;
    min-height: 73px;
    padding: 0 15px 0 30px;
    width: calc(100% - 300px);
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
}

.header__navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation{
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
}

.header__navigation-subtitle{
    font-size: 14px;
    color: var(--color-text);
}

.header__navigation-subtitle > i{
    width: auto;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.header__navigation-link{
    color: var(--color-primary);
    font-size: 14px;
}

.header__searchbar{
    padding: 0 15px;
}

.header__seachbar-form{
    width: 400px;
    height: 45px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
}

.header__seachbar-input{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    border-radius: 8px;
    padding: 5px 15px 5px 40px;
}

.header__seachbar-link{
    top: 8px;
    left: 15px;
    position: absolute;
    color: var(--color-text);
}

.user__item{
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user__item-list{
    float: left;
    list-style-type: none;
}

.user__item-link{
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    margin: 25px 10px;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.user__item-link > i:hover{
    opacity: 0.7;
}

.user__item-dot{
    top: 0px;
    width: 6px;
    height: 6px;
    right: 4px;
    border: 0;
    padding: 0;
    font-size: 0;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    color: var(--color-light);
    transform: scale(0);
    transition: transform 1s ease; 
    background: var(--color-primary) !important;
}

.user__item-cart{
    height: 15px;
    width: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    padding: 0;
    position: absolute;
    top: -4px;
    right: -3px;
    color: var(--color-light);
    border-radius: 50%;
    white-space: nowrap;
    vertical-align: baseline;
    background: var(--color-danger) !important;
}

.user__item-avatar{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.user__item-info{
    text-align: left;
    line-height: 16px;
    display: inline-block;
}

.user__item-name{
    color: black;
    font-size: 16px;
    margin-bottom: 4px;
}

.user__item-cash{
    height: auto;
    font-size: 14px;
    display: inline-block;
    color: var(--color-primary);
}

.content{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin-left: 300px;
    padding: 125px 15px 0 15px;
}

.newrealease{
    flex: 0 0 100%;
    padding: 0 15px;
    position: relative;
}

.newrealease__container{
    display: flex;
    margin-bottom: 30px;
    align-items: stretch;
    flex-direction: column;
}

.newrealease__item{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.newrealease__item-list{
    height: auto;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

.newrealease__item-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.newrealease__item-img{
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.newrealease__item-list:first-child .newrealease__item-img,
.newrealease__item-list:last-child .newrealease__item-img{
    width: 80%;
}


.newrealease__item-list:nth-child(2) .newrealease__item-img,
.newrealease__item-list:nth-child(4) .newrealease__item-img{
    width: 85%;
}


.browse__books{
    flex: 0 0 100%;
    padding: 0 15px;
    position: relative;
}

.browse__books-content{
    margin-bottom: 30px;
    height: calc(100% - 30px);
    background-color: var(--color-light);
    box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);

}

.browse__books-header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
}

.browse__books-title{
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.400em;
}

.browse__books-button{
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 5px;
    color: var(--color-light);
    background-color: var(--color-primary);
}

.browse__books-button:hover{
    opacity: 0.7;
}

.browse__books-book{
    padding: 20px;
}

.browse__books-item{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.browse__books-list{
    max-width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.browse__books-img{
    width: 50%;
    position: relative;
}

.browse__books-img > img{
    width: 100%;
    height: auto;
    z-index: 1;
    border-radius: 5px;
}

.browse__books-viewbook{
    left: 0;
    right: 0;
    top: 40%;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    transition: all 0.3s ease-out 0s;
}

.browse__books-link{
    padding: 8px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    color: var(--color-primary);
    background-color: var(--color-light);
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.browse__books-link:hover{
    color: var(--color-light);
    background-color: var(--color-primary);
}

.browse__books-list:hover .browse__books-viewbook{
    opacity: 1;
}

.browse__books-list:hover .browse__books-img > img{
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.browse__books-text{
    width: 50%;
    height: auto;
    padding: 0 15px;
}

.browse__books-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 1.0em;
    line-height: 1.3em;
    margin-bottom: .25rem!important;
}

.browse__books-author{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 13px !important;
    margin-bottom: .25rem!important;
    font-weight: 400;
    color: var(--color-text);
}

.browse__books-rate{
    display: flex;
    font-size: 10px;
    color: var(--color-warning);
    margin-bottom: .25rem!important;
}

.browse__books-rate > i{
    margin: 0 !important;
}

.browse__books-price{
    display: flex;
    margin-bottom: .25rem!important;
}

.browse__books-before{
    margin-right: 8px;
    text-decoration: line-through;
    color: var(--color-text);
}

.browse__books-after{
    font-weight: bold;
}

.browse__books-price{
    display: flex;
    margin-bottom: .25rem!important;
}

.browse__books-checkout{
    cursor: pointer;
    color: var(--color-primary);
}


.browse__books-favorite{
    cursor: pointer;
    color: var(--color-danger);
}

.browse__books-checkout:hover, .browse__books-favorite:hover{
    opacity: 0.7;
} 

.featured__books{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    position: relative;
}

.featured__books-content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    border-radius: 4px;
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
    align-items: stretch;
    flex-direction: column;
    height: calc(100% - 30px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
}

.featured__books-header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
}

.featured__books-title{
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.400em;
}

.featured__books-thisweek{
    display: flex;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    color: var(--color-text);
}

.featured__books-thisweek > i{
    margin-right: 0px;
    margin-left: 12px;
}

.featured_books-detail{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured_books-img{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.featured_books-img > img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.featured_books-text{
    width: 100%;
    padding: 0 15px;
    position: relative;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.featured_books-title{
    line-height: 1.5;
    font-size: 1.400em;
    margin-bottom: .5rem!important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.featured_books-author{
    font-weight: 400;
    color: var(--color-text);
    margin-bottom: .5rem!important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.featured_books-rate{
    display: flex;
    font-size: 12px;
    color: var(--color-warning);
    margin-bottom: .5rem!important;
}

.featured_books-rate > i{
    margin: 0 !important;
}

.featured_books-describe{
    color: var(--color-dark);
    margin-bottom: 1rem!important;
}

.featured_books-button{
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 4px;
    color: var(--color-light);
    transition: all 0.5s ease-out 0s;
    background-color: var(--color-primary);
}

.featured_books-button:hover{
    opacity: 0.7;
}

.featured__writer{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    position: relative;
}

.featured__writer-content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    border-radius: 4px;
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
    align-items: stretch;
    flex-direction: column;
    height: calc(100% - 30px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
}

.featured__writer-header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
}

.featured__writer-title{
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.400em;
}

.featured__writer-thisweek{
    display: flex;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    color: var(--color-text);
}

.featured__writer-thisweek > i{
    margin-right: 0px;
    margin-left: 12px;
}

.featured__writer-writers{
    padding: 20px;
    flex-grow: 1;
    display: flex;
    -webkit-box-flex: 1;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.featured__writer-item{
    height: 310px;
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
}

.featured__writer-list{
    width: 100%;
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    position: relative;
    align-items: center!important;
    margin-bottom: 1rem!important;
}

.featured__writer-img{
    width: 64px;
    height: 64px;
    font-size: 26px;
    line-height: 64px;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    margin-right: 1rem!important;
}

.featured__writer-avatar{
    width: 100%;
    height: 100%;
    line-height: 60px;
    object-fit: cover;
    border-radius: 50% !important;
}

.featured__writer-text{
    margin-top: .25rem!important;
}

.featured__writer-publish{
    color: var(--color-primary) !important;
}

.featured__writer-number{
    color: var(--color-text);
}

.favorite__reads{
    flex: 0 0 100%;
    padding: 0 15px;
    position: relative;
}

.favorite__reads-content{
    margin-bottom: 30px;
    height: calc(100% - 30px);
    box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);

}

.favorite__reads-header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
}

.favorite__reads-headertitle{
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.400em;
}

.favorite__reads-button{
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 5px;
    color: var(--color-light);
    background-color: var(--color-primary);
}

.favorite__reads-button:hover{
    opacity: 0.7;
}

.favorite__reads-box{
    flex-grow: 1;
    display: flex;
    padding: 20px;
    -webkit-box-flex: 1;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.favorite__reads-item{
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.favorite__reads-book{
    float: left;
    height: 100%;
    width: 378px;
    outline: none;
    padding: 0 15px;
    min-height: 1px;
    position: relative;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.favorite__reads-img{
    width: 100%;
    position: relative;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.favorite__reads-picture{
    height: auto;
    max-width: 100%;
    border-style: none;
    vertical-align: middle;
    width: 100%!important;
    border-radius: 5px !important;
}

.favorite__reads-describe{
    width: 100%;
    padding: 0 15px;
    position: relative;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.favorite__reads-title{
    overflow: hidden;
    font-size: 1.200em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-bottom: .5rem!important;
}

.favorite__reads-author{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    color: var(--color-text);
    -webkit-box-orient: vertical;
    margin-bottom: .5rem!important;
}

.favorite__reads-status{
    display: flex;
    font-size: 13px;
    align-items: center;
    color: var(--color-dark);
    justify-content: space-between;
}

.favorite__reads-bar{
    width: 100%;
    display: inline-block;
}

.favorite__read-linerbar{
    margin: 0;
    width: 100%;
    height: 6px;
    box-shadow: 0 0 0;
    position: relative;
    border-radius: 5px;
    background: var(--color-light-danger) !important;
}

.favorite__read-proccess{
    margin: 0;
    width: 78%;
    height: 6px;
    box-shadow: 0 0 0;
    position: relative;
    border-radius: 5px;
    background: var(--color-danger) !important;
}

.favorite__reads-readnow{
    font-size: 16px;
    font-weight: 400;
}

.favorite__reads-readnow:hover{
    opacity: 0.7;
}

.favorite__reads-readnow > i{
    font-size: 12px;
}