*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
}
:root {
    --color-bg: #FBFCFF;
    --color-text: #777D74;
    --color-dark: #3F414D;
    --color-info: #D592FF;
    --color-light: #FAFAFB;
    --color-border: #EDEDF0;
    --color-danger: #FF9B8A;
    --color-warning: #FFBA68;
    --color-success: #48F0D3;
    --color-primary: #0AD6B8;
    --color-secondary: #A09E9E;
}

:root{
    --color-light-dark: #F0EFEF;
    --color-light-info: #EFE6F5;
    --color-light-danger: #FFF5F4;
    --color-light-warning: #FEFCF3;
    --color-light-success: #EEFFF2;
    --color-light-primary: #FBFCFF;
    --color-light-secondary: #F1F2F1;
}

body{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-light);
}

ul,
ol {
    list-style: none;
}

/* Reset anchor styles */
a {
    text-decoration: none;
    color: inherit;
}

i {
    width: 18px;
    height: 16px;
    font-size: inherit;
    line-height: 16px;
    margin-right: 4px;
}

.display-flex{
    display: flex;
    align-items: center;
}

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    font-size: 1rem;
    appearance: none;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    line-height: 1.5rem;
    padding-left: 0.75rem;
    padding-bottom: 0.5rem;
    padding-right: 0.75rem;
    -moz-appearance: none;
    border-color: #6b7280;
    -webkit-appearance: none;
    background-color: #fff;
    --tw-shadow: 0 0 #0000;
}

.header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.header__login{
    display: flex;
    font-weight: 350;
    font-size: 0.875rem;
    align-items: center;
    line-height: 1.25rem;
    color: var(--color-text);
}

.header__button{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-width: 1px;
    font-size: 0.875rem;
    margin-left: 0.75rem;
    padding: 0.5rem 1rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    color: var(--color-light);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}

.title{
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 2rem 0 2rem;
}

.title__logo{
    width: 100%;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
}

.title__logo-content{
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 1.5px;
    justify-content: center;
    color: var(--color-primary);
}

.title__logo-content > i{
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.title__logo-link{
    font-size: 16px;
    font-weight: 550;
    padding: 5px 0 15px 0;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-primary);
}

.title__create{
    color: var(--color-dark);
    font-weight: 800;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.title__login{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-text);
}

.title__login-link{
    color: var(--color-primary);
}

.signup{
    display: flex;
    margin-top: 0px;
    padding: 0 2rem;
    flex-direction: column;
    justify-content: center;
}

.signup__panel{
    width: 100%;
    max-width: 28rem;
    margin: 2rem auto 0 auto;
}

.signup__panel-content{
    overflow: hidden;
    border-width: 1px;
    border-top-width: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 0.375rem;
    border-color: #e5e7eb;
    background-color: #fff;
    padding: 1rem 2.5rem 2rem 2.5rem;
    border-top-color: var(--color-warning);
}

.signup__input{
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.signup__panel-label{
    display: block;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.25rem;
    color: var(--color-dark);
}

.signup__panel-input{
    width: 100%;
    display: block;
    border-width: 1px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-color: #d1d5db;
    border-radius: 0.375rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.signup__input-agree{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 16px;
    position: relative;
}

.signup__input-agree .signup__input-checkbox{
    width: 100%;
    height: 100%;
}

.signup__input-agree .signup__input-checkbox:checked{
    background-color: var(--color-primary);
}

.signup__input-policy{
    display: block;
    cursor: pointer;
    font-weight: 400;
    color: #111827;
    font-size: 0.90rem;
    line-height: 1.25rem;
}

.signup__input-link{
    color: var(--color-primary);
}

.signup__input-button{
    width: 100%;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    border-width: 1px;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 1.25rem;
    justify-content: center;
    border-radius: 0.375rem;
    border-color: transparent;
    color: var(--color-light);
    background-color: var(--color-primary);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.signup__panel-media{
    margin-top: 1.5rem;
}

.signup__panel-options{
    color: #6b7280;
    font-weight: 300;
    position: relative;
}

.signup__panel-continue{
    inset: 0;
    display: flex;
    align-items: center;
    position: absolute;
}

.signup__panel-slash{
    width: 100%;
    border-top-width: 1px;
    border-color: #d1d5db;
}

.signup__panel-text{
    display: flex;
    position: relative;
    font-size: 0.875rem;
    line-height: 1.25rem;
    justify-content: center;
}

.signup__panel-text > span{
    color: #6b7280;
    padding: 0 0.5rem;
    background-color: #fff;
}

.signup_media{
    gap: 0.75rem;
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.signup_media-link > a{
    width: 100%;
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
    border-width: 1px;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    border-radius: 0.375rem;
    color: var(--color-text);
    border-color: var(--color-text);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


.footer__contact{
    height: 20px;
    color: #6b7280;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.footer__contact-content{
    width: 12%;
    display: flex;
    align-items: center;
    color: var(--color-text);
    justify-content: space-between;
}