<section class="profile" xmlns="http://www.w3.org/1999/html">
    <div class="profile__customer">
        <div class="profile__customer-background">
            <img src="<%= customerData.customer_background %>" alt="/img/Background-Img/User-Background.jpg"
                 class="profile__customer-background-image">
        </div>
        <div class="profile__customer-container">
            <div class="profile__customer-container-information">
                <div class="profile__customer-container-information-avatar">
                    <form action="/story-sells/user/update-photo" method="POST"
                          class="profile__customer-container-information-avatar-form">
                        <input accept="image/*" type="file" id="file-input"
                               class="profile__customer-container-information-avatar-input"
                               style="display:none;" placeholder="Your avatar">
                        <label for="file-input" style="width: 100%; height: 100%">
                            <img src="<%= customerData.customer_avatar %>" alt="" id="img-preview"
                                 class="profile__customer-container-information-avatar-image">
                            <button type="button" class="profile__customer-container-information-avatar-button"
                                    title="Change Avatar" onclick="openFileInput()">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div class="profile__customer-container-information-name">
                    <span><%= customerData.customer_fname + " " + customerData.customer_lname %></span>
                    <span class="profile__customer-container-information-email">
                        <%= customerData.customer_email %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const input = document.getElementById('file-input');
    const image = document.getElementById('img-preview');
    const submitButton = document.querySelector('.profile__customer-container-information-avatar-submit-button');

    function openFileInput() {
        input.click();
    }

    input.addEventListener('change', (e) => {
        if (e.target.files.length) {
            const src = URL.createObjectURL(e.target.files[0]);
            image.src = src;
            submitButton.click();
        }
    });
</script>