/* Reset margin and padding on all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
}

:root {
    --font-family: "Helvetica", sans-serif;
}

:root {
    --scroll-bar: 15px;
    --color-text: rgb(68, 68, 68);
    --color-border: rgb(230, 230, 230);
    --color-accent: rgb(0, 0, 0);
    --color-lighter: rgb(153, 153, 153);
    --color-primary: rgb(246, 93, 78);
    --color-primary-hover: rgb(244, 64, 47);
    --color-primary-opacity: rgba(246, 93, 78, 0.2);

    --color-background: rgb(248, 249, 250);
    --color-black: rgb(0, 0, 0);
    --color-black-opacity: rgba(0, 0, 0, 0.1);
    --color-white: rgb(255, 255, 255);
    --color-white-opacity: rgba(255, 255, 255, 0.1);

    --color-pale-pink: rgb(247, 141, 167);
    --color-vivid-red: rgb(207, 46, 46);
    --color-vivid-purple: rgb(155, 81, 224);
    --color-deep-sea-blue: rgb(34, 61, 77);
    --color-lavender-blue: rgb(205, 191, 255);
    --color-pale-cyan-blue: rgb(142, 209, 252);
    --color-vivid-cyan-blue: rgb(6, 147, 227);
    --color-light-green-cyan: rgb(123, 220, 181);
    --color-cyan-bluish-gray: rgb(160, 174, 192);
    --color-vivid-green-cyan: rgb(0, 208, 132);
    --color-luminous-vivid-amber: rgb(252, 185, 0);
    --color-luminous-vivid-orange: rgb(255, 105, 0);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    letter-spacing: 1px;
    font-family: var(--font-family);
    background-color: var(--color-background);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 600;
    transition: all .3s ease;
    font-family: var(--font-family);
}

button {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.navigation {
    width: 356px;
    height: auto;
    display: flex;
    position: fixed;
    min-height: 100vh;
    transform: translateX(0);
    transition: transform 1.2s;
    border-right: 1px solid var(--color-black-opacity);
}

.navigation.visible {
    transform: translateX(-100%);
}

.navigation__container {
    padding: 72px 44px;
    transition: opacity 0.3s;
}

.navigation__container-user {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.navigation__container-separate {
    height: 1px;
    width: 120%;
    display: flex;
    margin-left: -10%;
    align-items: center;
    margin-bottom: 24px;
    background-image: linear-gradient(to right, rgba(224, 225, 226, 0) 0%, #E0E1E2 50%, rgba(224, 225, 226, 0.1563) 100%);
}

.navigation__container-user-avatar {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 50%;
}

.navigation__container-user-info {
    display: flex;
    margin-left: 24px;
    flex-direction: column;
}

.navigation__container-user-username {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navigation__container-user-role {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--color-lighter);
}

.navigation__container-section-title {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--color-black);
    text-transform: uppercase;
}

.navigation__container-list {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.navigation__container-list-item {
    width: 100%;
}

.navigation__container-option {
    width: 100%;
    display: flex;
    margin: 4px 0;
    cursor: pointer;
    padding: 12px 24px;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    border-radius: 50px;
    transition: all 0.7s ease;
}

.navigation__container-option-icon {
    padding: 10px;
    margin-right: 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    transition: all 0.7s ease;
    justify-content: center;
    color: var(--color-primary-hover);
    background-color: var(--color-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
}

.navigation__container-option-icon > i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__container-option-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    transition: all 0.7s ease;
    color: var(--color-cyan-bluish-gray);
}

.navigation__container-option:hover, .navigation__container-option-active {
    border-radius: 15px;
    background-color: var(--color-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
}

.navigation__container-option:hover > .navigation__container-option-icon,
.navigation__container-option-active > .navigation__container-option-icon {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.navigation__container-option:hover > .navigation__container-option-text,
.navigation__container-option-active > .navigation__container-option-text {
    color: var(--color-black);
}

.navigation__container-logo {
    bottom: 0;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    margin-bottom: 24px;
    justify-content: center;
}

.navigation__container-logo-image {
    width: auto;
    height: 32px;
}

.container {
    width: 100%;
    display: flex;
    margin-left: 356px;
    flex-direction: column;
    transition: width 1.2s, margin-left 1.2s;
}

.container.collapsed {
    margin-left: 0;
}

.header {
    width: 100%;
}

.header__container {
    display: flex;
    padding: 20px 32px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-black-opacity);
}

.header__container-block {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__container-logo-image {
    width: 28px;
    height: 28px;
    opacity: 0.8;
    margin: 0 8px;
}

.header__container-subNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sectionButton {
    color: var(--color-lighter);
}

.header__container-subNav-button {
    margin: 0 8px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.header__container-searchBar {
    width: 200px;
    height: 32px;
    margin: 0 8px;
    position: relative;
}

.header__container-searchBar-input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4px 32px;
    position: absolute;
    border-radius: 8px;
    align-items: center;
    background-color: var(--color-black-opacity);
}

.header__container-searchBar-icon {
    padding: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    color: var(--color-lighter);
    justify-content: space-between;
}

.header__container-searchBar-icon > img {
    width: 16px;
    height: 16px;
    opacity: 0.4;
}

.header__container-notification-numbers {
    top: -8px;
    right: 6px;
    padding: 4px;
    z-index: 999;
    position: absolute;
    border-radius: 50%;
    background-color: var(--color-background);
}

.container__section {
    padding: 20px 40px;
}

.profile {
    width: 100%;
}

.profile__customer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile__customer-background {
    width: 100%;
}

.profile__customer-background-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.profile__customer-container {
    width: 96%;
    z-index: 999;
    height: 120px;
    margin-top: -60px;
    position: relative;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--color-white);
    box-shadow: 0 2px 6px 0 var(--color-white-opacity);
    background: linear-gradient(137deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.80) 100%);
}

.profile__customer-container-information {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.profile__customer-container-information-avatar {
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    margin-left: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__customer-container-information-avatar-form {
    width: 100%;
    height: 100%;
}

.profile__customer-container-information-avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.profile__customer-container-information-avatar-button {
    right: -5px;
    bottom: -5px;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    color: var(--color-vivid-green-cyan);
    background-color: var(--color-white);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
}

.profile__customer-container-information-name {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 140%;
    flex-direction: column;
}

.profile__customer-container-information-email {
    font-size: 14px;
    font-weight: normal;
    color: var(--color-cyan-bluish-gray);
}