/* Reset margin and padding on all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
}

:root {
    --font-family: "Nunito", sans-serif;
}

/* Define color constants using CSS custom properties */
:root {
    --scroll-bar: 15px;
    --color-text: #444444;
    --color-border: #E6E6E6;
    --color-accent: #000000;
    --color-lighter: #999999;
    --color-primary: #F65D4E;
    --color-primary-hover: #f4402f;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-pale-pink: #f78da7;
    --color-vivid-red: #cf2e2e;
    --color-vivid-purple: #9b51e0;
    --color-deep-sea-blue: #223D4D;
    --color-lavender-blue: #cdbfff;
    --color-pale-cyan-blue: #8ed1fc;
    --color-vivid-cyan-blue: #0693e3;
    --color-light-green-cyan: #7bdcb5;
    --color-cyan-bluish-gray: #abb8c3;
    --color-vivid-green-cyan: #00d084;
    --color-luminous-vivid-amber: #fcb900;
    --color-luminous-vivid-orange: #ff6900;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    letter-spacing: 1px;
    font-family: var(--font-family);
}

/* Reset list styles */
ul,
ol {
    list-style: none;
}

/* Reset anchor styles */
a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 600;
    transition: all .3s ease;
    font-family: var(--font-family);
}

.display-flex {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    padding: 32px 16px 16px 16px;
    font-size: 14px;
    justify-content: flex-end;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__container-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.header-container-item {
    font-size: 16px;
    margin-right: 80px;
    transition: all .3s ease;
}

.header-container-item:hover {
    color: var(--color-primary-hover);
}

.container {
    display: flex;
    padding: 24px 80px 0 160px;
    align-items: center;
    justify-content: space-between;
}

.caption__container {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 2rem 0 2rem;
}

.caption__container-text {
}

.caption__container-title {
    font-size: 36px;
    font-weight: 800;
    text-align: left;
    line-height: 46px;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.caption__container-subtitle {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
}

.caption__container-subtitle-link {
    font-weight: 200;
    color: var(--color-primary);
    transition: all .3s ease;
}

.caption__container-subtitle-link:hover {
    font-weight: 900;
    color: var(--color-primary-hover);
}

.caption__container-paragraph {
    margin-top: 24px;
    font-size: 16px;
    color: var(--color-lighter);
}

.import__container {
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    justify-content: center;
}

.import__container-form-input {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 36px;
    flex-direction: row;
}

.import__container-form-input-title {
    display: block;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 8px;
    letter-spacing: 0.1em;
    color: var(--color-black);
}

.import__container-form-input-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.import__container-form-input-data {
    width: 100%;
    height: 60px;
    font-size: 20px !important;
    border-radius: 80px;
    padding: 24px 32px 24px 32px;
    outline: 2px solid var(--color-primary);
}

.container-form-input-item > .import__container-form-input-data {
    width: 80%;
    text-align: center;
    border-radius: 5px;
    padding: 0 !important;
    outline: 1px solid var(--color-primary);
}

.container-form-input-item > .import__container-form-input-data:focus {
    outline: 3px solid var(--color-primary);
}

.import__container-form-input-data:-webkit-autofill::first-line {
    font-size: 20px;
}


.password-toggle {
    top: 63%;
    right: 30px;
    cursor: pointer;
    position: absolute;
}

.import__container-form-remember {
    display: flex;
    align-items: center;
    justify-content: center;
}

.import__container-form-remember-input {
    width: 40px;
    height: 40px;
    accent-color: var(--color-primary);
}

.import__container-form-remember label {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    padding-left: 16px;

}

.import__container-form-forgot {
    display: flex;
    align-items: center;
}

.import__container-form-forgot-link {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.1em;
    transition: all .3s ease;
    color: var(--color-primary);
}

.import__container-form-forgot-link:hover {
    color: var(--color-primary-hover);
}

.import__container-form-input-agree {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.import__container-form-input-checkbox {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.import__container-form-input-checkbox:checked {
    background-color: var(--color-primary);
}

.import__container-form-input-policy {
    cursor: pointer;
    font-weight: 400;
    color: #111827;
    font-size: 0.90rem;
    line-height: 1.25rem;
}

.import__container-form-input-link {
    font-weight: 200;
    color: var(--color-primary);
    transition: font-weight .2s ease-in-out;
}

.import__container-form-input-link:hover {
    font-weight: 900;
    color: var(--color-primary-hover);
}

.import__container-form-input-button {
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    color: var(--color-white);
    background-color: var(--color-primary);

    height: 60px;
    font-size: 28px;
    font-weight: 800;
    border-radius: 80px;
    padding: 24px 32px 24px 32px;

}

.import__container-form-input-button:hover {
    background-color: var(--color-primary-hover);
}

.import__container-form-option {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.import__container-form-option-button {
    font-size: 16px;
    cursor: pointer;
    color: var(--color-primary);
    transition: font-weight .3s ease;
    background-color: transparent;
}

.import__container-form-option-button-hover:hover {
    font-weight: 800;
    color: var(--color-primary-hover);
}

.import__container-options {
    position: relative;
    color: var(--color-black);
}

.import__container-continue {
    inset: 0;
    display: flex;
    align-items: center;
    position: absolute;
}

.import__container-slash {
    width: 100%;
    border-top-width: 1px;
    border-color: var(--color-border);
}

.import__container-text {
    display: flex;
    font-size: 20px;
    position: relative;
    justify-content: center;
}

.import__container-text > span {
    color: #6b7280;
    padding: 0 0.5rem;
    background-color: #fff;
}

.import__container-media {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.import__container-media-link {
    display: flex;
    width: 120px;
    height: 80px;
    font-size: 40px;
    border-radius: 8px;
    line-height: 10px;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    padding: 12px 36px 12px 36px;
    border: 2px solid var(--color-primary);

}

.import__container-media-link:hover {
    background-color: var(--color-border);
}

.import__container-media-link > img {
    width: 100%;
    border-radius: 50%;
}

.image__container {
    width: 60%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.image__container-logo {
    bottom: 0;
    right: 120px;
    width: auto;
    height: 40px;
    position: absolute;
}